{% extends "layout.html" %}

{% block content %}
<div id="root">
    <navbar :user="user"></navbar>
    <todo :id="user.id"></todo>
</div>
{% endblock %}

{% block js %}
<script>
    Vue.component('navbar', {
        delimiters: ['[[', ']]'],
        props: ['user'],
        template: `
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/todo/">Todo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <!-- li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li -->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <!-- input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" -->
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="button" @click="logOut">Log Out [[user.first_name]] [[user.last_name]]</button>
                    </form>
                </div>
            </nav>
        `,
        data() {
            return {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Token ${localStorage.getItem('todoAccessToken')}`,
                },
            };
        },
        methods: {
            async logOut() {
                try {
                    let response = await fetch('/api/user/log-out/', {
                        method: 'DELETE',
                        headers: this.headers,
                    });
                    if (response.status === 204) {
                        localStorage.removeItem('todoAccessToken');
                        window.location.replace('/');
                    } else {
                        alert('Please try again');
                    }
                } catch (err) {
                    alert(err);
                }
            },
        },
    });

    Vue.component('todo', {
        delimiters: ['[[', ']]'],
        props: ['id'],
        template: `
            <main>
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" placeholder="Description" v-model="description" required>
                            </div>
                            <button type="button" class="btn btn-info" @click="addTodo">Add</button>
                        </form>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" @click="getTodos()">All</button>
                        <button type="button" class="btn btn-primary" v-for="(value, key) in dropdown" @click="getTodos(key)">[[value]]</button>
                    </div>
                    <div class="center">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" v-for="head in heads">[[head]]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="i in todos" :key="i.id">
                                    <td>[[i.description]]</td>
                                    <td>[[i.status_display]]</td>
                                    <td>[[new Date(i.created_at).toLocaleString()]]</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" v-for="(value, key) in dropdown" :key="key" @click="updateTodo(i.id, key)">[[value]]</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>[[new Date(i.updated_at).toLocaleString()]]</td>
                                    <td>
                                        <button class="btn btn-danger" @click="deleteTodo([[i.id]])">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        `,
        data() {
            return {
                heads: ['Description', 'Current Status', 'Created Date', 'Update Status', 'Updated Date', 'Remove'],
                page: 1,
                dropdown: {},
                todos: [],
                description: null,
                status: null,
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Token ${localStorage.getItem('todoAccessToken')}`,
                },
            };
        },
        methods: {
            async getDropDownValues() {
                let response = await fetch('/api/task/status-choice/', {
                    method: 'GET',
                    headers: this.headers,
                });
                this.dropdown = await response.json();
            },
            async getTodos(status) {
                var url = '/api/task/tasks/?page=' + this.page;
                if (status) {
                    url += "?status=" + status;
                }
                let response = await fetch(url, {
                    method: 'GET',
                    headers: this.headers,
                });
                let data = await response.json();
                this.todos = data.results;
            },
            async addTodo() {
                let response = await fetch('/api/task/tasks/', {
                    method: 'POST',
                    headers: this.headers,
                    body: JSON.stringify({
                        description: this.description,
                        user: this.id,
                    }),
                });
                let data = await response.json();
                if (response.status !== 201) {
                    alert('Please try again.');
                } else {
                    this.description = null;
                    this.getTodos();
                }
            },
            async updateTodo(id, status) {
                let response = await fetch(`/api/task/tasks/${id}/`, {
                    method: 'PATCH',
                    headers: this.headers,
                    body: JSON.stringify({status: status}),
                });
                console.log(response);
                if (response.status !== 200) {
                    alert('Please try again.');
                } else {
                    this.getTodos(status);
                }
            },
            async deleteTodo(id) {
                let response = await fetch(`/api/task/tasks/${id}/`, {
                    method: 'DELETE',
                    headers: this.headers,
                });
                if (response.status !== 204) {
                    alert('Please try again.');
                } else {
                    this.getTodos();
                }
            },
        },
        mounted() {
            this.page = Number(new URLSearchParams(window.location.search).get('page')) || 1;
            this.getDropDownValues();
            this.getTodos();
        },
    });

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#root',
        data: {
            user: {},
            todos: [],
        },
        methods: {
            async getUser() {
                try {
                    let response = await fetch('/api/user/details/', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Token ${localStorage.getItem('todoAccessToken')}`,
                        },
                    });
                    if (response.status === 401) {
                        localStorage.removeItem('todoAccessToken');
                        window.location.replace('/');
                    }
                    let data = await response.json();
                    this.user = data;
                } catch (err) {
                    alert(err);
                }
            },
        },
        mounted() {
            this.getUser();
        },
    });
</script>
{% endblock %}
